@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #50b498;
  --color-secondary: #468585;
  --color-accent: #def9c4;
  --color-success: oklch(84.5% 0.143 164.978);
}

.font-chilanka {
  font-family: "Chilanka", cursive;
  padding-top: calc(var(--spacing));
}
